body {
  background-color:#FEFEFE;
  font-family:"Open Sans", sans-serif;
  font-size:11px;
  margin:4px;
}
a {
  color:#bb0000;
}
a:hover {
  color: #002654;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}
.overlay { 
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background-color: #87ceeb;
  opacity: 0.9;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
#launchOverlay {
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
}
#infoOverlay {
  height: 0%;
  overflow-x: hidden;
  transition: 0.5s;
  opacity: 0.0;
}
.overlayContent {
  position: relative;
  top: 10%;
  width: 850px;
  text-align: center;
  margin: auto;
  background-color: #FFF;
  opacity: 1;
}
.overlayLink a {
  padding: 5px;
  text-decoration: none;
  font-size: 30px;
  color: #bb0000;
  display: block;
  z-index: 10;
}
.overlay a:hover, .overlay a:focus {
  color: #002654;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 75px;
  font-size: 60px;
  text-decoration:none;
}
@media screen and (max-height: 450px) {
  .overlayLink a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.overlayTitle {
  position: relative;
  clear:both;
  margin:5px 10px 5px 10px;
  padding:5px;
  font-size:22px;
  font-weight:bold;
  color: #000;
}
.overlayLink {
  clear:both;
}
.overlayDescription {
  position: relative;
  clear:both;
  margin:5px 10px 5px 10px;
  padding:5px;
  font-size:16px;
  font-weight:normal;
  color: #222;  
}
.overlayMakerNotes {
  position: relative;
  float:left;
  margin:5px 10px 5px 10px;
  padding:5px;
  font-size:14px;
  font-weight:normal;
  color: #222;  
  width:30%;
  text-align:left;
}
.overlayDataNotes {
  position: relative;
  float:left;
  margin:5px 10px 5px 10px;
  padding:5px;
  font-size:14px;
  font-weight:normal;
  color: #222; 
  width:50%; 
  text-align:left;
}
.overlayMakerNotes li {
  padding: 5px;
  margin-left: 35px;
}
.overlayDataNotes li {
  padding: 5px;
  margin-left: 35px;
}
.mainTitle {
  position: relative;
  height: 25px;
  width: 900px;
  float:left;
  margin:5px 5px 5px 30px;
  font-size:22px;
  font-weight:bold;
  color: #000;
}
.navRight {
  position: relative;
  height: 25px;
  width: 105px;
  float:left;
  margin:5px 5px 5px 5px;
  font-size:14px;
  font-weight:normal;
  text-align:right;
  color: #000;
}
.submainTitle {
  position: relative;
  height: 28px;
  width: 1054px;
  clear:both;
  margin:5px 5px 5px 30px;
  font-size:18px;
  font-weight:bold;
  color: #000;
}
.linkList {
  position: relative;
  margin:5px 5px 5px 30px;
  font-size:14px;
  font-weight:normal;
  color: #000;
  overflow: hidden;
  list-style-type: none;
}
.linkList li {
    float: left; 
    margin-left:20px;
}
.projectDescription {
  position: relative;
  height: 38px;
  width: 1054px;
  clear:both;
  margin:5px 5px 5px 30px;
  font-size:12px;
  font-weight:normal;
  color: #222;  
  line-height:12px;
}
.containerTitle {
  position: relative;
  width: 1054px;
}
.containerBody {
  position: relative;
  height: 562px;
  width: 1054px;
  clear:both;
  margin:5px 5px 5px 20px;
  background-color:#fff;
}
.leftPanel {
  position: relative;
  height: 562px;
  width: 600px;
  float: left;
}
#map {
  height: 560px;
  width: 600px;
  z-index: 1;
  float: left;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #333;
  background-color:#fff;
}
#loading {
  position: absolute;
  top: 220px;
  left: 240px; 
  height: 100px;
  width: 100px;
  z-index: 2;
  background: url("../images/loading.gif");
  background-repeat: no-repeat;
  background-size: 100px 100px;
  display: none;
}
.rightPanel {
  position: relative;
  height: 560px;
  width: 452px;
  float: left;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #333;
}
.titleTrans {
  position: relative;
  height: 53px;
  width: 450px;
  float: left;
  padding: 2px 2px 2px 8px;
}
.navigationTrans {
  position: relative;
  height: 180px;
  width: 310px;
  float: left;
  padding: 2px;
  border-bottom: 1px solid #333;
}
.legendTrans {
  position: relative;
  height: 180px;
  width: 134px;
  float: left;
  padding: 2px;
  border-bottom: 1px solid #333;
}
.titleDemo {
  position: relative;
  height: 53px;
  width: 450px;
  float: left;
  padding: 2px 2px 2px 8px;
}
.navigationDemo {
  position: relative;
  height: 190px;
  width: 310px;
  float: left;
  padding: 2px;
  border-bottom: 1px solid #333;
}
.legendDemo {
  position: relative;
  height: 190px;
  width: 134px;
  float: left;
  padding: 2px;
  border-bottom: 1px solid #333;
}
.titleClick {
  position: relative;
  height: 53px;
  width: 450px;
  float: left;
  padding: 2px 2px 2px 8px;
}
#legend {
  line-height: 16px;
  font-size: 12px;
  color: #555;
  position: relative;
  z-index: 2;
  padding: 5px;
  padding-top: 55px;
}
#legend i {
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
#legend2 {
  color: #555;
  font-size: 12px;
  position: relative;
  z-index: 2;
  padding: 5px;
  padding-top: 50px;
  padding-left: 10px;
}
.buttonRow1 {
  margin:4px 2px 2px 2px;
}
.buttonRow2 {
  margin:4px 2px 2px 34px;
}
#heatButton {
  padding:4px;
}
#markerButton {
  padding:4px;
}
.choiceTitle {
  font-size:18px;
  font-weight: bold;
  clear: left;
  margin-bottom:2px;
}
.choiceSubTitle {
  font-size:16px;
  font-weight: normal;
  font-style: italic;
  clear: left;
  margin-bottom:14px;
  margin-left:10px;
}
#title1 {
  line-height: 18px;
  width:80%;
  color: #333;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  padding: 10px;
  margin-top:20px;
  font-weight:bold;
  background-color:lightgrey;
  display:none;
}
#title2 {
  line-height: 18px;
  color: #333;
  width:80%;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  padding: 10px;
  margin-top:20px;
  font-weight:bold;
  background-color:lightgrey;
  display:none;
}
#source1 {
  position: relative;
  top:85px;
  line-height: 14px;
  color: #333;
  z-index: 2;
  font-size: 12px;
  font-style: italic;
  background-color: white;
  padding: 5px;
  display:none;
}
#source2 {
  position: relative;
  top:85px;
  line-height: 14px;
  color: #333;
  z-index: 2;
  font-size: 12px;
  font-style: italic;
  background-color: white;
  padding: 5px;
  display:none;
}
.dot1 {
  height: 12px;
  width: 12px;
  background-color: #800080; 
  border-color: "#000";
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
}
.dot2 {
  height: 12px;
  width: 12px;
  background-color: #b7410e; 
  border-color: "#000";
  border-radius: 50%;
  display: inline-block;
  opacity: 1;
}
.standardButton {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:2px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #154682;
  margin-left:2px;
}
.standardButton:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.standardButton:active {
	position:relative;
	top:1px;
}


